# KAKENの研究機関マスタをローカルのMariaDBに保存するプログラム

### 事前準備
- KAKENマスタデータは、git のリポジトリで管理されており、最新のデータを利用可能。
- https://bitbucket.org/niijp/grants_masterxml_kaken/ からリポジトリを pull して、ローカルの ./grants_masterxml_kaken フォルダに同期しておく。
- ローカルで MariaDB を動かしておく。
- MariaDB のユーザ名、パスワード、データベース名は、configparserで ./config.ini として保存しておく。

### ここから本編
bitbucketから読み込んだマスタのXMLファイルをelementTreeに変換

In [3]:
# encoding: utf-8
from lxml import etree
import pandas as pd

In [5]:
tree = etree.parse('grants_masterxml_kaken/institution_master_kakenhi.xml')

institutionlist = []
for institution_table in tree.iterfind("institution_table"):
    for institution in institution_table.iterfind("institution"):
        institution_name = institution.find("name[@lang='ja']").text
        institution_niicode = institution.find("code[@type='nii']").text

        row = [
            institution_niicode,
            institution_name,
        ]
        
        institutionlist.append(row)
            
df = pd.DataFrame(institutionlist)
df.columns = ['institution_niicode', 'institution_name']
df

      institution_niicode                    institution_name
0                 0010101                               北海道大学
1                 0010102                             北海道教育大学
2                 0010103                              室蘭工業大学
3                 0010104                              小樽商科大学
4                 0010105                              帯広畜産大学
5                 0010106                              北見工業大学
6                 0010107                              旭川医科大学
7                 0011101                                弘前大学
8                 0011201                                岩手大学
9                 0011301                                東北大学
10                0011302                              宮城教育大学
11                0011401                                秋田大学
12                0011501                                山形大学
13                0011601                                福島大学
14                0012101                                茨城大学
15                0012201                               宇都宮大学
16                0012301                                群馬大学
17                0012401                                埼玉大学
18                0012501                                千葉大学
19                0012601                                東京大学
20                0012602                            東京医科歯科大学
21                0012603                             東京外国語大学
22                0012604                              東京学芸大学
23                0012605                              東京農工大学
24                0012606                              東京芸術大学
25                0012608                              東京工業大学
26                0012610                              東京水産大学
27                0012611                            お茶の水女子大学
28                0012612                              電気通信大学
29                0012613                                一橋大学
...                   ...                                 ...
72084             0062401                            国立女性教育会館
72085             0062602                             国立科学博物館
72086             0062604                             国立国語研究所
72087             0062605                             東京国立博物館
72088             0062606                             京都国立博物館
72089             0062607                          東京国立文化財研究所
72090             0062609                           東京国立近代美術館
72091             0062610                             国立西洋美術館
72092             0062612                            大学入試センター
72093             0062613                        メディア教育開発センター
72094             0062617                 国立オリンピック記念青少年総合センター
72095             0062701                         国立特殊教育総合研究所
72096             0062702                         大学評価・学位授与機構
72097             0063901                          岡崎国立共同研究機構
72098             0064301                           京都国立近代美術館
72099             0064402                             国立国際美術館
72100             0064601                             奈良国立博物館
72101             0064602                          奈良国立文化財研究所
72102             0081402                          秋田県高度技術研究所
72103             0081403                         秋田県工業技術センター
72104             0082605                        東京都神経科学総合研究所
72105             0082608                             国立多摩研究所
72106             0082615                            日本進路指導協会
72107             0083202                         富山市科学文化センター
72108              382757             国立障害者リハビリテーションセンター(研究所)
72109              382761                国立研究開発法人国立国際医療研究センター
72110              382773     独立行政法人国立病院機構(名古屋医療センター臨床研究センター)
72111              382783  熊本県産業技術センター(ものづくり室、材料・地域資源室、食品加工室)
72112              382868                       奈良県農業研究開発センター
72113              382699                国際連合大学サステイナビリティ高等研究所

[72114 rows x 2 columns]

重複のデータがあるかどうか

In [6]:
df.duplicated().any()

True

重複データがあった。dropしておく。

In [7]:
df = df.drop_duplicates()
df.duplicated().any()

False

In [8]:
df.institution_niicode.value_counts()

0082679    1
0042651    1
0082699    1
0082201    1
0037602    1
0034318    1
0031101    1
0027401    1
0094601    1
0043941    1
0030110    1
0054601    1
0056401    1
382897     1
0033943    1
0037408    1
0051201    1
0074325    1
0042677    1
0092720    1
0037117    1
0032105    1
0035313    1
0032635    1
0032812    1
0083803    1
0024303    1
0035409    1
0021601    1
0044435    1
          ..
0046104    1
0183102    1
0382657    1
0023103    1
0086401    1
382724     1
0023701    1
0032629    1
0174302    1
0014701    1
0037120    1
0034528    1
0034409    1
0047202    1
0084422    1
0046304    1
0043945    1
0134520    1
0042727    1
0235505    1
0042514    1
0037107    1
0033936    1
0030108    1
0042721    1
0042694    1
0035415    1
382766     1
0092105    1
0171301    1
Name: institution_niicode, Length: 2618, dtype: int64

In [13]:
df = df.astype({
    'institution_niicode': int,
})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2618 entries, 0 to 2617
Data columns (total 2 columns):
institution_niicode    2618 non-null int32
institution_name       2618 non-null object
dtypes: int32(1), object(1)
memory usage: 30.8+ KB

niicodeがユニークなので、インデックスに設定する

In [14]:
df = df.set_index('institution_niicode')
df

                                       institution_name
institution_niicode
10101                                             北海道大学
10102                                           北海道教育大学
10103                                            室蘭工業大学
10104                                            小樽商科大学
10105                                            帯広畜産大学
10106                                            北見工業大学
10107                                            旭川医科大学
11101                                              弘前大学
11201                                              岩手大学
11301                                              東北大学
11302                                            宮城教育大学
11401                                              秋田大学
11501                                              山形大学
11601                                              福島大学
12101                                              茨城大学
12201                                             宇都宮大学
12301                                              群馬大学
12401                                              埼玉大学
12501                                              千葉大学
12601                                              東京大学
12602                                          東京医科歯科大学
12603                                           東京外国語大学
12604                                            東京学芸大学
12605                                            東京農工大学
12606                                            東京芸術大学
12608                                            東京工業大学
12610                                            東京水産大学
12611                                          お茶の水女子大学
12612                                            電気通信大学
12613                                              一橋大学
...                                                 ...
62612                                          大学入試センター
62613                                      メディア教育開発センター
62617                               国立オリンピック記念青少年総合センター
62701                                       国立特殊教育総合研究所
62702                                       大学評価・学位授与機構
63901                                        岡崎国立共同研究機構
64301                                         京都国立近代美術館
64402                                           国立国際美術館
64601                                           奈良国立博物館
64602                                        奈良国立文化財研究所
81402                                        秋田県高度技術研究所
81403                                       秋田県工業技術センター
82404                           国立身体障害者リハビリテーションセンター研究所
82605                                      東京都神経科学総合研究所
82608                                           国立多摩研究所
82610                                 国立病院医療センター(臨床研究部)
82615                                          日本進路指導協会
83202                                       富山市科学文化センター
83904                                 国立名古屋病院(臨床研究センター)
84605                                       奈良県農業技術センター
87402                                       熊本県工業技術センター
382759                                       国立国際医療センター
382773                  独立行政法人国立病院機構(名古屋医療センター臨床研究センター)
382867                                      奈良県農業総合センター
382757                          国立障害者リハビリテーションセンター(研究所)
382783               熊本県産業技術センター(ものづくり室、材料・地域資源室、食品加工室)
382760                               独立行政法人国立国際医療研究センター
382868                                    奈良県農業研究開発センター
382761                             国立研究開発法人国立国際医療研究センター
382699                             国際連合大学サステイナビリティ高等研究所

[2618 rows x 1 columns]

ローカルのmariaDBに関する設定ファイルを読み込み（config.iniはgitに上げていないが、事前準備で作られているはず）

In [16]:
import configparser

config = configparser.ConfigParser()
config.read('config.ini')
username = config['mariadb']['username']
password = config['mariadb']['password']
database = config['mariadb']['database']
url = 'mysql+pymysql://' + username + ':' + password + '@localhost:3306/' + database + '?charset=utf8'

データベースにテーブル構造とデータの中身を書き込む

In [17]:
from sqlalchemy import create_engine
from sqlalchemy.types import String, Integer

engine = create_engine(url, echo=True)

df.to_sql('kaken_master_institution', engine, if_exists='replace',
          dtype={
              'institution_niicode': Integer,
              'institution_name': String(256),
                })

2018-05-09 11:52:23,385 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2018-05-09 11:52:23,386 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 11:52:23,387 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2018-05-09 11:52:23,387 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 11:52:23,388 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8' and `Collation` = 'utf8_bin'
2018-05-09 11:52:23,389 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 11:52:23,390 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2018-05-09 11:52:23,390 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 11:52:23,391 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2018-05-09 11:52:23,392 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 11:52:23,392 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8) COLLATE utf8_bin AS anon_1
2018-05-09 11:52:23,393 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 11:52:23,394 INFO sqlalchemy.engine.base.Engine DESCRIBE `kaken_master_institution`
2018-05-09 11:52:23,394 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 11:52:23,409 INFO sqlalchemy.engine.base.Engine DESCRIBE `kaken_master_institution`
2018-05-09 11:52:23,410 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 11:52:23,424 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `data_analysis`
2018-05-09 11:52:23,425 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 11:52:23,439 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `kaken_master_institution`
2018-05-09 11:52:23,439 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 11:52:23,441 INFO sqlalchemy.engine.base.Engine
DROP TABLE kaken_master_institution
2018-05-09 11:52:23,442 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 11:52:23,455 INFO sqlalchemy.engine.base.Engine COMMIT
2018-05-09 11:52:23,456 INFO sqlalchemy.engine.base.Engine
CREATE TABLE kaken_master_institution (
	institution_niicode INTEGER,
	institution_name VARCHAR(256)
)


2018-05-09 11:52:23,456 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 11:52:23,475 INFO sqlalchemy.engine.base.Engine COMMIT
2018-05-09 11:52:23,476 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_kaken_master_institution_institution_niicode ON kaken_master_institution (institution_niicode)
2018-05-09 11:52:23,476 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 11:52:23,485 INFO sqlalchemy.engine.base.Engine COMMIT
2018-05-09 11:52:23,487 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-05-09 11:52:23,495 INFO sqlalchemy.engine.base.Engine INSERT INTO kaken_master_institution (institution_niicode, institution_name) VALUES (%(institution_niicode)s, %(institution_name)s)
2018-05-09 11:52:23,496 INFO sqlalchemy.engine.base.Engine ({'institution_niicode': 10101, 'institution_name': '北海道大学'}, {'institution_niicode': 10102, 'institution_name': '北海道教育大学'}, {'institution_niicode': 10103, 'institution_name': '室蘭工業大学'}, {'institution_niicode': 10104, 'institution_name': '小樽商科大学'}, {'institution_niicode': 10105, 'institution_name': '帯広畜産大学'}, {'institution_niicode': 10106, 'institution_name': '北見工業大学'}, {'institution_niicode': 10107, 'institution_name': '旭川医科大学'}, {'institution_niicode': 11101, 'institution_name': '弘前大学'}  ... displaying 10 of 2618 total bound parameter sets ...  {'institution_niicode': 382761, 'institution_name': '国立研究開発法人国立国際医療研究センター'}, {'institution_niicode': 382699, 'institution_name': '国際連合大学サステイナビリティ高等研究所'})
2018-05-09 11:52:23,524 INFO sqlalchemy.engine.base.Engine COMMIT

### おしまい
データがコミットされていれば終了。HeidiSQLなどで、上記ドロップ済みデータフレームの件数が登録されているか確認する。