## KAKENからダウンロードしたXMLファイルをパースして、ローカルのMariaDBに保存するプログラム

### ファイル構成

4つのファイルでできています。部品を作る3つのファイルと、3つの部品を統合するファイルです。

#### 部品を作る
- parse_grantaward_main.ipynb
 - 研究課題のメインになる部分。課題番号、研究種目、開始年度、終了年度、直接経費金額など
- parse_grantaward_institution_from_grantlist.ipynb
 - 採択年度の研究機関
- parse_grantaward_member_from_summary.ipynb　←いまここ
 - 採択年度の研究代表者

#### 課題番号をキーにして、3つの部品を統合して一つのテーブルを作る
- parse_grantaward_integration.ipynb

### 事前準備
- kaken_zenkadai_download.ipynbを実行して、./xmlフォルダにXMLファイルを保存しておいてください。
- ここでは、2010年以降のデータを扱うことにしています。

### 使い方

- 部品を作る3つのファイルを適宜の順序で実行します。それぞれから、./afterCleaningフォルダにデータフレーム（部品）が作られ、pickle形式でファイルを保存します。
 - parse_kadai.dump
 - parse_institution_from_grantlist.dump
 - parse_member_from_summary.dump
- 3つの部品ができたら、parse_grantaward_integration.ipynbを実行すると、一つのテーブルに結合してローカルのMariaDBに保存されます。

### 今後の予定

自分が眺めた範囲では、古い年代ほどデータの欠損など問題があって、前処理が必要な雰囲気なので、新しいところから始めました。時間をみつけて、2010年以前のデータもパースできるようにしたいと思っています。KAKENに研究者番号が入っているのが1985年以降なので、優先順位としてはそこが一つの境目になると思っています。84年以前は、必要に応じてやりましょう。

In [36]:
# encoding: utf-8
from lxml import etree
from tqdm import tqdm_notebook as tqdm
import pandas as pd
import numpy as np
import pickle
import glob
import re

## 研究者を抽出する関数

研究者情報は、grantAward/summary/memberとgrantAward/memberList/memberの2箇所にある。前者は同じ人は複数出てこなくてまとまっているが、所属機関等のコードがない。後者は所属機関コードがあるが、毎年度の実績報告書があるので同じ人が複数回出てくる。差し当たって前者からデータを取得することにする。そのうち余裕が出たら、後者のデータと突合したい。

In [37]:
def member(xmlfile):
    tree = etree.parse(xmlfile)
    nsmap = {"xml": "http://www.w3.org/XML/1998/namespace"}
    memberlist = []
    for grantAward in tree.iterfind("grantAward"):
        awardnumber = grantAward.get("awardNumber")
        for member in grantAward.find("summary[@xml:lang='ja']", nsmap).iterfind("member", nsmap):
            sequence = member.get("sequence")
            role = member.get("role")
            kenkyuusha_id = member.get("eradCode")

            try:
                familyname = member.find("personalName/familyName").text
            except:
                familyname = np.NaN

            try:
                givenname = member.find("personalName/givenName").text
            except:
                givenname = np.NaN

            row = [
                awardnumber,
                sequence,
                role,
                kenkyuusha_id,
                familyname,
                givenname,
            ]
            memberlist.append(row)

    df = pd.DataFrame(memberlist)
    df.columns = [
        'awardnumber',
        'sequence',
        'role',
        'kenkyuusha_id',
        'familyname',
        'givenname',
    ]

    pickledfile = 'pickledDF_member_from_summary/' + re.search('[0-9]{4}_[0-9]+-[0-9]+.xml', xmlfile).group() + '.dump'
    df.to_pickle(pickledfile)

フォルダをいったんきれいにする関数を定義して、実行する

In [38]:
import os
import shutil

def cleandir(dirname):
    if os.path.isdir(dirname):
        shutil.rmtree(dirname)
    os.mkdir(dirname)

cleandir('pickledDF_member_from_summary')

関数を実行して、XMLファイルごとにパースして、pickleして保存する

In [39]:
for xmlfile in tqdm(glob.glob('xml/201*.xml')):
    member(xmlfile)

HBox(children=(IntProgress(value=0, max=521), HTML(value='')))

In [40]:
columns = [
    'awardnumber',
    'sequence',
    'role',
    'kenkyuusha_id',
    'familyname',
    'givenname',
]
df = pd.DataFrame(columns=columns)

In [41]:
for dump in tqdm(glob.glob('pickledDF_member_from_summary/*.dump')):
    with open(dump, mode='rb') as f:
        df = pd.concat([df, pickle.load(f)])

HBox(children=(IntProgress(value=0, max=521), HTML(value='')))

連結したデータフレームをいったんpickleして保存

In [42]:
df.to_pickle('beforeCleaning/parse_member_from_summary.dump')

### データクリーニング

pickleからデータフレームを復元する

In [43]:
with open('beforeCleaning/parse_member_from_summary.dump', mode='rb') as f:
    df = pickle.load(f)

データフレームの構造を概観する

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 511055 entries, 0 to 499
Data columns (total 6 columns):
awardnumber      511055 non-null object
sequence         511055 non-null object
role             511055 non-null object
kenkyuusha_id    447908 non-null object
familyname       507754 non-null object
givenname        507978 non-null object
dtypes: object(6)
memory usage: 27.3+ MB

In [45]:
df = df.fillna(0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 511055 entries, 0 to 499
Data columns (total 6 columns):
awardnumber      511055 non-null object
sequence         511055 non-null object
role             511055 non-null object
kenkyuusha_id    511055 non-null object
familyname       511055 non-null object
givenname        511055 non-null object
dtypes: object(6)
memory usage: 27.3+ MB

研究者番号のルールに合わないもの（数字以外の文字が含まれているもの）を抽出する

まず、インデックスをリセットしておく。

In [46]:
df = df.reset_index(drop=True)
df

,awardnumber,sequence,role,kenkyuusha_id,familyname,givenname
0,S003,1,area_organizer,40118451,木村,實
1,S002,1,area_organizer,70135292,小原,雄治
2,S001,1,area_organizer,60117603,今井,浩三
3,4203,1,area_organizer,30142011,倉智,嘉久
4,4202,1,area_organizer,00153669,小松,英彦
5,4201,1,area_organizer,50128104,宮野,悟
6,3224,1,area_organizer,50014121,笹月,健彦
7,3223,1,area_organizer,30183114,諸橋,憲一郎
8,3222,1,area_organizer,50012670,花岡,文雄
9,3221,1,area_organizer,80380385,赤司,浩一
10,3220,1,area_organizer,70150612,辻,省次
11,3219,1,area_organizer,40237996,長谷部,光泰
12,3218,1,area_organizer,80179647,武田,洋幸
13,3217,1,area_organizer,00112417,寒川,賢治
14,3216,1,area_organizer,00252578,篠原,彰
15,3215,1,area_organizer,70167831,阿形,清和
16,3214,1,area_organizer,80260206,山森,哲雄
17,3213,1,area_organizer,10183857,高橋,淑子
18,3212,1,area_organizer,00164773,箱嶋,敏雄
19,3211,1,area_organizer,40183082,長谷,あきら
20,3210,1,area_organizer,80260389,馬,建鋒
21,3209,1,area_organizer,20282527,北村,俊雄
22,3208,1,area_organizer,70176428,井上,純一郎
23,3207,1,area_organizer,60302840,横溝,岳彦
24,3206,1,area_organizer,30260037,能瀬,聡直
25,3205,1,area_organizer,40189551,畠山,昌則
26,3204,1,area_organizer,10199812,松田,道行
27,3203,1,area_organizer,90209908,宮園,浩平
28,3202,1,area_organizer,70311751,宮田,卓樹
29,3201,1,area_organizer,50261996,岡澤,均
...,...,...,...,...,...,...
511025,18K08461,1,principal_investigator,30510391,永井,英明
511026,18K08460,1,principal_investigator,60361218,鍬田,伸好
511027,18K08459,1,principal_investigator,60401121,瀬尾,幸子
511028,18K08458,1,principal_investigator,30508643,原田,恵嘉
511029,18K08457,1,principal_investigator,20399463,吉河,智城
511030,18K08456,1,principal_investigator,30407093,吉澤,彰宏
511031,18K08455,1,principal_investigator,00455338,川野,光興
511032,18K08454,1,principal_investigator,90283522,伊奈田,宏康
511033,18K08453,1,principal_investigator,70294725,奥村,裕司
511034,18K08452,1,principal_investigator,90246695,石井,良和
511035,18K08451,1,principal_investigator,80424711,小松,陽樹
511036,18K08450,1,principal_investigator,80328377,越野,一朗
511037,18K08449,1,principal_investigator,80459312,上田,たかね
511038,18K08448,1,principal_investigator,60365591,片山,由紀
511039,18K08447,1,principal_investigator,00292855,高橋,孝
511040,18K08446,1,principal_investigator,00746993,樽本,憲人
511041,18K08445,1,principal_investigator,20372881,吉野,直人
511042,18K08444,1,principal_investigator,10405277,新屋,政春
511043,18K08443,1,principal_investigator,40336673,井坂,雅徳
511044,18K08442,1,principal_investigator,90277971,金光,敬二
511045,18K08441,1,principal_investigator,50305356,石岡,賢
511046,18K08440,1,principal_investigator,30736690,仲村,究
511047,18K08439,1,principal_investigator,80301381,平松,和史
511048,18K08438,1,principal_investigator,60303913,有海,康雄
511049,18K08437,1,principal_investigator,90573105,MIYAZATO,PAOLA
511050,18K08436,1,principal_investigator,40628492,中田,浩智
511051,18K08435,1,principal_investigator,30575080,天野,将之
511052,18K08434,1,principal_investigator,00346925,井上,真吾
511053,18K08433,1,principal_investigator,10346786,古庄,憲浩
511054,18K08432,1,principal_investigator,20325476,白土,基明

In [47]:
df['kenkyuusha_id'].str.match('^[0-9]*$').value_counts()

True     447906
False         2
Name: kenkyuusha_id, dtype: int64

Falseが2件あった。Falseのindexを抽出して、データフレームで表示する

In [48]:
falselist = df['kenkyuusha_id'].str.match('^[0-9]*$')
falselist = list(falselist[falselist == False].index)
df.loc[falselist]

,awardnumber,sequence,role,kenkyuusha_id,familyname,givenname
10464,22540296,4,research_collaborator,08J05773,岩上,わかな
10465,22540296,5,research_collaborator,12J00079,古澤,峻

KAKENやresearchmapで個人名で検索して正当な研究者番号に置換する

In [49]:
#df.kenkyuusha_id.replace('235000 6', 50004619, inplace=True)
#df.kenkyuusha_id.replace('2033+220', 80224103, inplace=True)
#df.kenkyuusha_id.replace('A9406506', 10226110, inplace=True)
df.kenkyuusha_id.replace('08J05773', 50571535, inplace=True)
df.kenkyuusha_id.replace('12J00079', 40737251, inplace=True)

In [50]:
df.loc[falselist]

,awardnumber,sequence,role,kenkyuusha_id,familyname,givenname
10464,22540296,4,research_collaborator,50571535,岩上,わかな
10465,22540296,5,research_collaborator,40737251,古澤,峻

In [51]:
df = df.astype({
    'sequence': np.int64,
    'kenkyuusha_id': np.int64,
})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511055 entries, 0 to 511054
Data columns (total 6 columns):
awardnumber      511055 non-null object
sequence         511055 non-null int64
role             511055 non-null object
kenkyuusha_id    511055 non-null int64
familyname       511055 non-null object
givenname        511055 non-null object
dtypes: int64(2), object(4)
memory usage: 23.4+ MB

重複があるか？

In [52]:
df.duplicated().any()

False

role の件数を確認しておく

In [53]:
df.role.value_counts()

principal_investigator            234090
co_investigator_buntan            181793
co_investigator_renkei             32198
research_collaborator              32129
research_fellow                    22393
foreign_research_fellow             5211
host_researcher                     2905
area_organizer                       182
co_investigator_buntan_support       147
principal_investigator_support         7
Name: role, dtype: int64

roleの対訳

|role|対訳|
|:---|:---|
|principal_investigator|研究代表者|
|co_investigator_buntan|研究分担者|
|co_investigator_renkei|連携研究者|
|research_collaborator|研究協力者|
|research_fellow|特別研究員奨励費 特別研究員|
|foreign_research_fellow|特別研究員奨励費 外国人特別研究員|
|host_researcher|特別研究員奨励費 受入研究者|
|area_organizer|特定領域研究、新学術領域研究(研究領域提案型) 領域代表者|
|co_investigator_buntan_support|新学術領域研究（研究領域提案型）『学術研究支援基盤形成』 研究支援分担者|
|principal_investigator_support|新学術領域研究（研究領域提案型）『学術研究支援基盤形成』 研究支援代表者|

### roleから次のものだけ抽出

- 研究代表者、
- 特定領域研究、新学術領域研究(研究領域提案型) 領域代表者、
- 新学術領域研究（研究領域提案型）『学術研究支援基盤形成』 研究支援代表者

In [54]:
df = df[(df['role'] == 'principal_investigator') | (df['role'] == 'area_organizer') | (df['role'] == 'principal_investigator_support')]
df

,awardnumber,sequence,role,kenkyuusha_id,familyname,givenname
0,S003,1,area_organizer,40118451,木村,實
1,S002,1,area_organizer,70135292,小原,雄治
2,S001,1,area_organizer,60117603,今井,浩三
3,4203,1,area_organizer,30142011,倉智,嘉久
4,4202,1,area_organizer,153669,小松,英彦
5,4201,1,area_organizer,50128104,宮野,悟
6,3224,1,area_organizer,50014121,笹月,健彦
7,3223,1,area_organizer,30183114,諸橋,憲一郎
8,3222,1,area_organizer,50012670,花岡,文雄
9,3221,1,area_organizer,80380385,赤司,浩一
10,3220,1,area_organizer,70150612,辻,省次
11,3219,1,area_organizer,40237996,長谷部,光泰
12,3218,1,area_organizer,80179647,武田,洋幸
13,3217,1,area_organizer,112417,寒川,賢治
14,3216,1,area_organizer,252578,篠原,彰
15,3215,1,area_organizer,70167831,阿形,清和
16,3214,1,area_organizer,80260206,山森,哲雄
17,3213,1,area_organizer,10183857,高橋,淑子
18,3212,1,area_organizer,164773,箱嶋,敏雄
19,3211,1,area_organizer,40183082,長谷,あきら
20,3210,1,area_organizer,80260389,馬,建鋒
21,3209,1,area_organizer,20282527,北村,俊雄
22,3208,1,area_organizer,70176428,井上,純一郎
23,3207,1,area_organizer,60302840,横溝,岳彦
24,3206,1,area_organizer,30260037,能瀬,聡直
25,3205,1,area_organizer,40189551,畠山,昌則
26,3204,1,area_organizer,10199812,松田,道行
27,3203,1,area_organizer,90209908,宮園,浩平
28,3202,1,area_organizer,70311751,宮田,卓樹
29,3201,1,area_organizer,50261996,岡澤,均
...,...,...,...,...,...,...
511025,18K08461,1,principal_investigator,30510391,永井,英明
511026,18K08460,1,principal_investigator,60361218,鍬田,伸好
511027,18K08459,1,principal_investigator,60401121,瀬尾,幸子
511028,18K08458,1,principal_investigator,30508643,原田,恵嘉
511029,18K08457,1,principal_investigator,20399463,吉河,智城
511030,18K08456,1,principal_investigator,30407093,吉澤,彰宏
511031,18K08455,1,principal_investigator,455338,川野,光興
511032,18K08454,1,principal_investigator,90283522,伊奈田,宏康
511033,18K08453,1,principal_investigator,70294725,奥村,裕司
511034,18K08452,1,principal_investigator,90246695,石井,良和
511035,18K08451,1,principal_investigator,80424711,小松,陽樹
511036,18K08450,1,principal_investigator,80328377,越野,一朗
511037,18K08449,1,principal_investigator,80459312,上田,たかね
511038,18K08448,1,principal_investigator,60365591,片山,由紀
511039,18K08447,1,principal_investigator,292855,高橋,孝
511040,18K08446,1,principal_investigator,746993,樽本,憲人
511041,18K08445,1,principal_investigator,20372881,吉野,直人
511042,18K08444,1,principal_investigator,10405277,新屋,政春
511043,18K08443,1,principal_investigator,40336673,井坂,雅徳
511044,18K08442,1,principal_investigator,90277971,金光,敬二
511045,18K08441,1,principal_investigator,50305356,石岡,賢
511046,18K08440,1,principal_investigator,30736690,仲村,究
511047,18K08439,1,principal_investigator,80301381,平松,和史
511048,18K08438,1,principal_investigator,60303913,有海,康雄
511049,18K08437,1,principal_investigator,90573105,MIYAZATO,PAOLA
511050,18K08436,1,principal_investigator,40628492,中田,浩智
511051,18K08435,1,principal_investigator,30575080,天野,将之
511052,18K08434,1,principal_investigator,346925,井上,真吾
511053,18K08433,1,principal_investigator,10346786,古庄,憲浩
511054,18K08432,1,principal_investigator,20325476,白土,基明

awardnumberごとにsequenceが最大のレコードのみ抽出する。生のXMLを眺めてみると、sequenceが大きいほど古い年度のデータなので。

In [55]:
seqmax = df.groupby('awardnumber')['sequence'].max().reset_index()
seqmax

       awardnumber  sequence
0             1201         1
1             1301         1
2             1401         1
3             1501         1
4         15H00001         1
5         15H00002         1
6         15H00003         1
7         15H00004         1
8         15H00005         1
9         15H00006         1
10        15H00007         1
11        15H00008         1
12        15H00009         1
13        15H00010         1
14        15H00011         1
15        15H00012         1
16        15H00013         1
17        15H00014         1
18        15H00015         1
19        15H00016         1
20        15H00017         1
21        15H00018         1
22        15H00019         1
23        15H00020         1
24        15H00021         1
25        15H00022         1
26        15H00023         1
27        15H00024         1
28        15H00025         1
29        15H00026         1
...            ...       ...
234147        4303         1
234148        4401         1
234149        4402         1
234150        4403         1
234151        4501         1
234152        4502         1
234153        4503         1
234154        4601         1
234155        4602         1
234156        4603         1
234157        4701         1
234158        4702         1
234159        4703         1
234160        4704         1
234161        4705         1
234162        4801         1
234163        4802         1
234164        4803         1
234165        4804         1
234166        4805         1
234167        4806         1
234168        4901         1
234169        4902         1
234170        4903         1
234171        4904         1
234172        4905         1
234173        4906         1
234174        S001         1
234175        S002         1
234176        S003         1

[234177 rows x 2 columns]

awardnumberがユニークかどうか確認するために、行数234177とawardnumberのユニークな値の数が一致するかどうか確認する。

In [56]:
seqmax['awardnumber'].nunique(dropna=False)

234177

awardnumberがユニークになった。

In [57]:
df = pd.merge(seqmax, df, on=['awardnumber', 'sequence'])
df

,awardnumber,sequence,role,kenkyuusha_id,familyname,givenname
0,1201,1,area_organizer,70013753,赤澤,威
1,1301,1,area_organizer,172255,仲,真紀子
2,1401,1,area_organizer,70192648,常木,晃
3,1501,1,area_organizer,70254133,園部,哲史
4,15H00001,1,principal_investigator,0,江谷,和樹
5,15H00002,1,principal_investigator,0,北田,聖子
6,15H00003,1,principal_investigator,0,多田,英俊
7,15H00004,1,principal_investigator,0,國本,学史
8,15H00005,1,principal_investigator,0,北川,美穂
9,15H00006,1,principal_investigator,0,原口,耕一郎
10,15H00007,1,principal_investigator,0,森上,優子
11,15H00008,1,principal_investigator,0,髙木,浩明
12,15H00009,1,principal_investigator,0,林,圭介
13,15H00010,1,principal_investigator,0,山本,和雄
14,15H00011,1,principal_investigator,0,井上,幸
15,15H00012,1,principal_investigator,0,漆﨑,まり
16,15H00013,1,principal_investigator,0,張,栄順
17,15H00014,1,principal_investigator,0,今田,水穂
18,15H00015,1,principal_investigator,0,長村,祥知
19,15H00016,1,principal_investigator,0,辻,伸幸
20,15H00017,1,principal_investigator,0,東野,裕子
21,15H00018,1,principal_investigator,0,栁,素子
22,15H00019,1,principal_investigator,0,江口,朗子
23,15H00020,1,principal_investigator,0,金澤,淳子
24,15H00021,1,principal_investigator,0,中村,菜穂
25,15H00022,1,principal_investigator,0,松村,悠子
26,15H00023,1,principal_investigator,0,柿沼,亮介
27,15H00024,1,principal_investigator,0,北脇,義友
28,15H00025,1,principal_investigator,0,栗林,幸雄
29,15H00026,1,principal_investigator,0,豊田,裕章
...,...,...,...,...,...,...
234147,4303,1,area_organizer,80188846,銅谷,賢治
234148,4401,1,area_organizer,10333444,國吉,康夫
234149,4402,1,area_organizer,10136525,下村,政嗣
234150,4403,1,area_organizer,30143548,古谷,研
234151,4501,1,area_organizer,30172894,長谷川,壽一
234152,4502,1,area_organizer,251231,北澤,茂
234153,4503,1,area_organizer,90233345,岡田,真人
234154,4601,1,area_organizer,60262101,植田,一博
234155,4602,1,area_organizer,80186618,神田,大輔
234156,4603,1,area_organizer,50233127,太田,順
234157,4701,1,area_organizer,50128104,宮野,悟
234158,4702,1,area_organizer,80270792,安田,一郎
234159,4703,1,area_organizer,80180553,南部,篤
234160,4704,1,area_organizer,20726260,古川,聡
234161,4705,1,area_organizer,20396162,西田,眞也
234162,4801,1,area_organizer,80322056,笠井,清登
234163,4802,1,area_organizer,220343,大隅,典子
234164,4803,1,area_organizer,80228410,橋本,浩一
234165,4804,1,area_organizer,30322332,武川,睦寛
234166,4805,1,area_organizer,80188846,銅谷,賢治
234167,4806,1,area_organizer,60251055,桜井,武
234168,4901,1,area_organizer,50222427,松島,綱治
234169,4902,1,area_organizer,90431478,川村,賢二
234170,4903,1,area_organizer,30211121,岡ノ谷,一夫
234171,4904,1,area_organizer,20280951,藤田,直也
234172,4905,1,area_organizer,291964,尾藤,晴彦
234173,4906,1,area_organizer,60261161,沈,建仁
234174,S001,1,area_organizer,60117603,今井,浩三
234175,S002,1,area_organizer,70135292,小原,雄治
234176,S003,1,area_organizer,40118451,木村,實

In [58]:
seqmax['awardnumber'].nunique(dropna=False)

234177

awardnumberはユニークだったので（ユニークじゃなかったら何かが違う）、インデックスにする。

In [59]:
df = df.set_index('awardnumber')
df

,sequence,role,kenkyuusha_id,familyname,givenname
awardnumber,,,,,
1201,1,area_organizer,70013753,赤澤,威
1301,1,area_organizer,172255,仲,真紀子
1401,1,area_organizer,70192648,常木,晃
1501,1,area_organizer,70254133,園部,哲史
15H00001,1,principal_investigator,0,江谷,和樹
15H00002,1,principal_investigator,0,北田,聖子
15H00003,1,principal_investigator,0,多田,英俊
15H00004,1,principal_investigator,0,國本,学史
15H00005,1,principal_investigator,0,北川,美穂
15H00006,1,principal_investigator,0,原口,耕一郎
15H00007,1,principal_investigator,0,森上,優子
15H00008,1,principal_investigator,0,髙木,浩明
15H00009,1,principal_investigator,0,林,圭介
15H00010,1,principal_investigator,0,山本,和雄
15H00011,1,principal_investigator,0,井上,幸
15H00012,1,principal_investigator,0,漆﨑,まり
15H00013,1,principal_investigator,0,張,栄順
15H00014,1,principal_investigator,0,今田,水穂
15H00015,1,principal_investigator,0,長村,祥知
15H00016,1,principal_investigator,0,辻,伸幸
15H00017,1,principal_investigator,0,東野,裕子
15H00018,1,principal_investigator,0,栁,素子
15H00019,1,principal_investigator,0,江口,朗子
15H00020,1,principal_investigator,0,金澤,淳子
15H00021,1,principal_investigator,0,中村,菜穂
15H00022,1,principal_investigator,0,松村,悠子
15H00023,1,principal_investigator,0,柿沼,亮介
15H00024,1,principal_investigator,0,北脇,義友
15H00025,1,principal_investigator,0,栗林,幸雄
15H00026,1,principal_investigator,0,豊田,裕章
...,...,...,...,...,...
4303,1,area_organizer,80188846,銅谷,賢治
4401,1,area_organizer,10333444,國吉,康夫
4402,1,area_organizer,10136525,下村,政嗣
4403,1,area_organizer,30143548,古谷,研
4501,1,area_organizer,30172894,長谷川,壽一
4502,1,area_organizer,251231,北澤,茂
4503,1,area_organizer,90233345,岡田,真人
4601,1,area_organizer,60262101,植田,一博
4602,1,area_organizer,80186618,神田,大輔
4603,1,area_organizer,50233127,太田,順
4701,1,area_organizer,50128104,宮野,悟
4702,1,area_organizer,80270792,安田,一郎
4703,1,area_organizer,80180553,南部,篤
4704,1,area_organizer,20726260,古川,聡
4705,1,area_organizer,20396162,西田,眞也
4801,1,area_organizer,80322056,笠井,清登
4802,1,area_organizer,220343,大隅,典子
4803,1,area_organizer,80228410,橋本,浩一
4804,1,area_organizer,30322332,武川,睦寛
4805,1,area_organizer,80188846,銅谷,賢治
4806,1,area_organizer,60251055,桜井,武
4901,1,area_organizer,50222427,松島,綱治
4902,1,area_organizer,90431478,川村,賢二
4903,1,area_organizer,30211121,岡ノ谷,一夫
4904,1,area_organizer,20280951,藤田,直也
4905,1,area_organizer,291964,尾藤,晴彦
4906,1,area_organizer,60261161,沈,建仁
S001,1,area_organizer,60117603,今井,浩三
S002,1,area_organizer,70135292,小原,雄治
S003,1,area_organizer,40118451,木村,實

In [60]:
df.to_pickle('afterCleaning/parse_member_from_summary.dump')

ひとまず終了。

次は、parse_grantaward_integration.ipynbで3つの部品を統合する。