# KAKENの配分区分マスタをローカルのMariaDBに保存するプログラム

### 事前準備
- KAKENマスタデータは、git のリポジトリで管理されており、最新のデータを利用可能。
- https://bitbucket.org/niijp/grants_masterxml_kaken/ からリポジトリを pull して、ローカルの ./grants_masterxml_kaken フォルダに同期しておく。
- ローカルで MariaDB を動かしておく。
- MariaDB のユーザ名、パスワード、データベース名は、configparserで ./config.ini として保存しておく。

### ここから本編
bitbucketから読み込んだマスタのXMLファイルをelementTreeに変換

In [2]:
# encoding: utf-8
from lxml import etree
import pandas as pd

In [3]:
tree = etree.parse('grants_masterxml_kaken/section_master_kakenhi.xml')

sectionlist = []
for section_table in tree.iterfind("section_table"):
    for section in section_table.iterfind("section"):
        section_name = section.find("name[@lang='ja']").text
        section_niicode = section.find("code[@type='nii']").text

        row = [
            section_niicode,
            section_name,
        ]
        
        sectionlist.append(row)
        
df = pd.DataFrame(sectionlist)
df.columns = ['section_niicode', 'section_name']
df

   section_niicode section_name
0                1          本調査
1                2      成果とりまとめ
2                3           総括
3                4      学術定期刊行物
4                5         学術図書
5                6        二次刊行物
6                4      学術定期刊行物
7                5         学術図書
8                6        二次刊行物
9                7         現地調査
10               8         調査総括
11               4      学術定期刊行物
12               5         学術図書
13               6        二次刊行物
14               7         現地調査
15               8         調査総括
16               9       がん特別調査
17               4      学術定期刊行物
18               5         学術図書
19               6        二次刊行物
20               8         調査総括
21               9       がん特別調査
22              10         現地調査
23               4      学術定期刊行物
24               5         学術図書
25               8         調査総括
26               9       がん特別調査
27              10         現地調査
28              11       二次刊行物等
29               4      学術定期刊行物
..             ...          ...
59              20         企画調査
60              23           国内
61              24           外国
62              12         学術調査
63              16         共同研究
64              17           一般
65              18         展開研究
66              20         企画調査
67              23           国内
68              24           外国
69              17           一般
70              18         展開研究
71              20         企画調査
72              23           国内
73              24           外国
74              25         海外学術
75              17           一般
76              20         企画調査
77              23           国内
78              24           外国
79              25         海外学術
80              17           一般
81              23           国内
82              24           外国
83              25         海外学術
84              17           一般
85              23           国内
86              24           外国
87              25         海外学術
88              26         特設分野

[89 rows x 2 columns]

重複のデータがあるかどうか

In [4]:
df.duplicated().any()

True

重複データがあった。dropしておく。

In [5]:
df = df.drop_duplicates()
df.duplicated().any()

False

In [6]:
df.section_niicode.value_counts()

13    1
12    1
17    1
10    1
23    1
19    1
4     1
16    1
1     1
25    1
21    1
20    1
9     1
22    1
18    1
8     1
5     1
14    1
3     1
11    1
26    1
24    1
2     1
6     1
15    1
7     1
Name: section_niicode, dtype: int64

niicodeがユニークなので、インデックスに設定する

In [7]:
df = df.set_index('section_niicode')
df

                section_name
section_niicode
1                        本調査
2                    成果とりまとめ
3                         総括
4                    学術定期刊行物
5                       学術図書
6                      二次刊行物
7                       現地調査
8                       調査総括
9                     がん特別調査
10                      現地調査
11                    二次刊行物等
12                      学術調査
13                      調査総括
14                   大学間協力研究
15                   データベース等
16                      共同研究
17                        一般
18                      展開研究
19                        総合
20                      企画調査
21                        試験
22                        時限
23                        国内
24                        外国
25                      海外学術
26                      特設分野

ローカルのmariaDBに関する設定ファイルを読み込み（config.iniはgitに上げていないが、事前準備で作られているはず）

In [8]:
import configparser

config = configparser.ConfigParser()
config.read('config.ini')
username = config['mariadb']['username']
password = config['mariadb']['password']
database = config['mariadb']['database']
url = 'mysql+pymysql://' + username + ':' + password + '@localhost:3306/' + database + '?charset=utf8'

データベースにテーブル構造とデータの中身を書き込む

In [10]:
from sqlalchemy import create_engine
from sqlalchemy.types import String, Integer

engine = create_engine(url, echo=True)

df.to_sql('kaken_master_section', engine, if_exists='replace',
          dtype={
              'section_niicode': Integer,
              'section_name': String(256),
                })

2018-05-09 12:00:57,621 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2018-05-09 12:00:57,621 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 12:00:57,623 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2018-05-09 12:00:57,623 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 12:00:57,624 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8' and `Collation` = 'utf8_bin'
2018-05-09 12:00:57,625 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 12:00:57,627 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2018-05-09 12:00:57,627 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 12:00:57,628 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2018-05-09 12:00:57,628 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 12:00:57,629 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8) COLLATE utf8_bin AS anon_1
2018-05-09 12:00:57,630 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 12:00:57,631 INFO sqlalchemy.engine.base.Engine DESCRIBE `kaken_master_section`
2018-05-09 12:00:57,631 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 12:00:57,647 INFO sqlalchemy.engine.base.Engine DESCRIBE `kaken_master_section`
2018-05-09 12:00:57,647 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 12:00:57,660 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `data_analysis`
2018-05-09 12:00:57,661 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 12:00:57,662 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `kaken_master_section`
2018-05-09 12:00:57,663 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 12:00:57,664 INFO sqlalchemy.engine.base.Engine
DROP TABLE kaken_master_section
2018-05-09 12:00:57,664 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 12:00:57,671 INFO sqlalchemy.engine.base.Engine COMMIT
2018-05-09 12:00:57,672 INFO sqlalchemy.engine.base.Engine
CREATE TABLE kaken_master_section (
	section_niicode INTEGER,
	section_name VARCHAR(256)
)


2018-05-09 12:00:57,673 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 12:00:57,690 INFO sqlalchemy.engine.base.Engine COMMIT
2018-05-09 12:00:57,691 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_kaken_master_section_section_niicode ON kaken_master_section (section_niicode)
2018-05-09 12:00:57,691 INFO sqlalchemy.engine.base.Engine {}
2018-05-09 12:00:57,700 INFO sqlalchemy.engine.base.Engine COMMIT
2018-05-09 12:00:57,701 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-05-09 12:00:57,702 INFO sqlalchemy.engine.base.Engine INSERT INTO kaken_master_section (section_niicode, section_name) VALUES (%(section_niicode)s, %(section_name)s)
2018-05-09 12:00:57,702 INFO sqlalchemy.engine.base.Engine ({'section_niicode': '1', 'section_name': '本調査'}, {'section_niicode': '2', 'section_name': '成果とりまとめ'}, {'section_niicode': '3', 'section_name': '総括'}, {'section_niicode': '4', 'section_name': '学術定期刊行物'}, {'section_niicode': '5', 'section_name': '学術図書'}, {'section_niicode': '6', 'section_name': '二次刊行物'}, {'section_niicode': '7', 'section_name': '現地調査'}, {'section_niicode': '8', 'section_name': '調査総括'}  ... displaying 10 of 26 total bound parameter sets ...  {'section_niicode': '25', 'section_name': '海外学術'}, {'section_niicode': '26', 'section_name': '特設分野'})
2018-05-09 12:00:57,703 INFO sqlalchemy.engine.base.Engine COMMIT

### おしまい
データがコミットされていれば終了。HeidiSQLなどで、上記ドロップ済みデータフレームの件数が登録されているか確認する。